.text-centered{
    text-align: justify;
    text-align-last: center;
}

.color-jumbo{
    background:#71D972 !important;
    background: -webkit-linear-gradient(#71D972, #1EA67F) !important;
    background:    -moz-linear-gradient(#71D972, #1EA67F) !important;
    background:         linear-gradient(#71D972, #1EA67F) !important;
}

.white-text{
    color: floralwhite !important;
}

.pos{
    margin-bottom: 2.5%;
}

.why{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
}