.center-content{
    display: block;
    margin: auto;
    width: 80%;
    
}

.panel-shadow{
    box-shadow: 0px 0px 100px -30px grey;
    border-radius: 10px;
}

.panel-color{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #1EA67F;
    
}

.text-centered{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.text-centered{
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
}

.color-jumbo{
    background:#1EA67F !important;
    /*background: -webkit-linear-gradient(#71D972, #1EA67F) !important;
    background:    -moz-linear-gradient(#71D972, #1EA67F) !important;
    background:         linear-gradient(#71D972, #1EA67F) !important;*/
}

.btn_cleared{
    text-decoration-color: white;
    background: transparent;
    outline-color: white:
}

.btn-outline{
    background-color: transparent !important;
    color: white;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.price-text{
    color: lightseagreen;
    font-family: 'Montserrat', sans-serif;
}

.price-cut{
    color: firebrick;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
}

.service-title{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 200%
    
}

.title-color{
    color: floralwhite;
}

.quote-1{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.white-text{
    color: floralwhite !important;
}

.grey-out{
    color: darkgray !important;
}


.no-wrapping{
    white-space: nowrap;
}

.button {
    display: inline-block;
    background-color: #1EA67F; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}
.button-outline {
    background: rgba(54, 25, 25,0);
    color: white;
    border: 2px solid white;
}

.button-outline:hover {
    background-color: white;
    color: #1EA67F;
}

.button-soften{
    border-radius: 100px;
}

.theme-text{
    color: #1EA67F !important;
}

.open-font{
    font-family: 'Open Sans', sans-serif !important;
}

.no-outline{
    border: none !important;
}

body .image-jumbo-wedding{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("http://i.imgur.com/LWHS5Pr.jpg");
    background-size: cover;
    background-attachment: fixed;
}

body .image-jumbo-grad{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("http://i.imgur.com/0KEx1ZD.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.image-jumbo-event{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("http://i.imgur.com/0kKbxTg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.image-jumbo-product{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("http://i.imgur.com/UcnnnS5.jpg");
    background-size:cover;
    background-attachment: fixed;
}

.image-jumbo-corporate{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("http://i.imgur.com/DDYXqbn.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.spacer-jumbotron{
    padding-top: 5%;
    padding-bottom: 5%;
}