.center-content{
    display: block;
    margin: auto;
    width: 80%;
    
}

.panel-shadow{
    box-shadow: 0px 0px 100px -30px grey;
    border-radius: 10px;
}

.panel-color{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #1EA67F;
    
}

.text-centered{
    text-align: center;
}

.color-jumbo{
    background: #1EA67F !important;
    /*background: -webkit-linear-gradient(#71D972, #1EA67F) !important;
    background:    -moz-linear-gradient(#71D972, #1EA67F) !important;
    background:         linear-gradient(#71D972, #1EA67F) !important;*/
    /*#71D972*/
}

.btn_cleared{
    text-decoration-color: white;
    background: transparent;
    outline-color: white:
}

.btn-outline{
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.price-text{
    color: lightseagreen;
    font-family: 'Montserrat', sans-serif;
}

.price-cut{
    color: firebrick;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
}

.service-title{
    text-align: center;
    font-size: 200%
    
}

.title-color{
    color: floralwhite !important;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center-panel{
    margin-left: auto ;
    margin-right: auto ;
}

.white-text{
    color: floralwhite;
}

h1{
    color: floralwhite !important;
}

/*.image{
    margin: 1%;
    box-shadow: 0px 0px 50px -10px grey !important;
}*/

.titled{
    /*color: #1EA67F !important;*/
    color:white !important;
}

body {
  margin: 50px 0;
}

.carousel-inner.vertical {
  height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
}
.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}

.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right:0;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right:0;
}

#carousel-pager .carousel-control.left {
    bottom: initial;
    width: 100%;
}
#carousel-pager .carousel-control.right {
    top: initial;
    width: 100%;
}

.spacer-5{
    padding-top: 5%;
    padding-bottom: 5%;
}

.spacer-5-top{
    padding-top: 5%;
}

.spacer-5-bottom{
    padding-bottom: 5%;
}

.spacer-1{
    padding-top: 1%;
    padding-bottom: 1%;
}

.gallery-color{
    background-color: #1EA67F !important;
}