.center-content{
    display: block;
    margin: auto;
    width: 80%;
    
}

.panel-shadow{
    box-shadow: 0px 0px 100px -30px grey;
    border-radius: 10px;
}

.panel-color{
    background-color: green;
}

.text-centered{
    text-align: center;
}

.color-jumbo{
    background:#71D972 !important;
    background: -webkit-linear-gradient(#71D972, #1EA67F) !important;
    background:    -moz-linear-gradient(#71D972, #1EA67F) !important;
    background:         linear-gradient(#71D972, #1EA67F) !important;
}